@font-face {
	font-family: 'OpenSans';
	src: url('./fonts/OpenSans-VariableFont.ttf');
}

body {
	background-color: black;
	margin: 0;
	color: #fff;
	font-family: 'OpenSans';
}

h1 {
	color: #fff;
	font-family: 'OpenSans';
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	color: #fff;
	font-family: 'OpenSans';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h3 {
	color: #fff;
	font-family: OpenSans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

label {
	font-size: 20px;
}

input[type='text'] {
	height: 24px;
	outline: none;
}

input[type='submit'] {
	width: 160px;
	height: 44px;
	background-color: red;
	outline: none;
	border-color: red;
	border-radius: 20px;

	color: #fff;
	font-family: 'OpenSans';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
